/* See http://www.kriesi.at/archives/create-a-multilevel-dropdown-menu-with-css-and-improve-it-via-jquery */
#menu, #menu ul{
     margin:0;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height:1.5em;
}

#menu a:link, #menu a:active, #menu a:visited, #menu span{
    display:block;
    padding:0px 5px;
    border-width: 4px;
    border-style: solid;
    text-decoration:none;
    /* This should be in the site CSS */
    border-color: white;
    background-color: white;
    color: #333;
}

#menu .separator {
    background-color: #ddd;
}

#menu a:hover {
    background-color: #888;
    color: white;
}

#menu li{
    float:left;
    position:relative;
}

#menu ul {
    position:absolute;
    width:12em;
    top:1.5em;
    display:none;
    z-index: 1;
}

#menu li ul a, #menu li ul span {
    width:12em;
    float:left;
}

#menu ul ul{
    top:auto;
    z-index: 2;
}

#menu li ul ul {
    left:12em;
    margin:0px 0 0 10px;
}

#menu li:hover ul ul, #menu li:hover ul ul ul, #menu li:hover ul ul ul ul{
    display:none;
}

#menu li:hover ul, #menu li li:hover ul, #menu li li li:hover ul, #menu li li li li:hover ul{
    display:block;
}

