<extension name="apply-cnam" continue="true">
    <condition field="destination_number" expression="^call">
      <action application="set" data="socket_resume=true"/>
      <action application="socket" data="127.0.0.1:7124 async full"/>
    </condition>
</extension>

<X-PRE-PROCESS cmd="include" data="usa-ingress.xml.template"/>
