Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\ApplicationSettings\CCSettings\CCList]
"0"="sip:ad-hoc1@ts1.sotelips.net"

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\ApplicationSettings\SharedSettings]
"PreferredReceiveBandwidth"="384"
"PreferredTransmitBandwidth"="384"
"MaximumReceiveBandwidth"="1152"
"MaximumTransmitBandwidth"="1152"

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\FirewallTraversal]
"SignalingMode"=dword:00000002
"ServerAddresses"="ts1.sotelips.net"
"Username"="{{username}}"
"Password"="{{password_base64}}"
"Enabled"=dword:00000001
"AlwaysTunnelMedia"=dword:00000001

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\Networking]
"SipDisplayName"=""
"SipTransport"=dword:00000000

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\SIPRegistration]
"AOR"="sip:{{usernamed}}@ts1.sotelips.net"
"Registrar"="sip:ts1.sotelips.net:5060"
"RegistrarUser"="{{username}}"
"RegistrarPassword"="{{password_base64}}"
"Enabled"=dword:00000001
