Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\ApplicationSettings\CCSettings\CCList]
"0"="sip:ad-hoc1@ts1.sotelips.net"
"1"="sip:ad-hoc2@ts1.sotelips.net"

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\ApplicationSettings\SharedSettings]
"PreferredReceiveBandwidth"="512"
"PreferredTransmitBandwidth"="512"
"MaximumReceiveBandwidth"="1152"
"MaximumTransmitBandwidth"="1152"

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\FirewallTraversal]
"SignalingMode"=dword:00000002
"ServerAddresses"="ts1.sotelips.net"
"Username"="{{username}}"
"Password"="{{password_base64}}"
"Enabled"=dword:00000001
"AlwaysTunnelMedia"=dword:00000001

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\MediaControls]
"CropVideoTo16x9"=dword:00000001
"AcousticEchoCancellation"=dword:00000001

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\Networking]
"RtpFirstPort"=dword:0000ea60
"RtpLastPort"=dword:0000fde7
"AudioTOS"=dword:000000b8
"VideoTOS"=dword:00000088
"SipDisplayName"=""
"SipTransport"=dword:00000000
"MaxSipRequestSizeForUDP"=dword:00000000
"UseSipProxy"=dword:00000000
"SipProxy"=""
"EnableLifeSizeDualVideo"=dword:00000001
"FavorPrimaryVideo"=dword:00000000

[HKEY_CURRENT_USER\Software\Avistar\C3Communicator\MediaEngine\SIPRegistration]
"AOR"="sip:{{username}}@ts1.sotelips.net"
"Registrar"="sip:ts1.sotelips.net:5060"
"RegistrarUser"="{{username}}"
"RegistrarPassword"="{{password_base64}}"
"Enabled"=dword:00000001
