<extension name="apply-cnam" continue="true">
    <condition field="destination_number" expression="^call">
      <action application="set" data="cnam_uri=$${cnam_uri}" />
      <action application="lua" data="cnam.lua ${ccnq_from_e164}"/>
    </condition>
</extension>

<X-PRE-PROCESS cmd="include" data="usa-ingress.xml.template"/>
