body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

form.main {
  padding: 11px;
}
form.main label, form.main input, form.main button, form.main select {
  margin: 11px;
}
form.main label {
  width: 100px;
  display: inline-block;
}
/* Alternative */
/*
label {
  display: block;
}

label>span {
  width: 200px;
  float: left;
}
*/
/*
label.normal {
  margin: 6px;
  width: 40%;
  display: inline-block;
}
label.normal:before {
  display: block;
  content: "\00a0"; // NBSP
  width: 0;
  height: 0;
}
label.error {
  background: red;
  color: white;
}
input,select {
  // width: 50%;
  display: inline-block;
  border: thin solid;
}
div.form {
  padding: 10px;
  border: solid black 1px;
}
*/

#login_container {
  display: inline;
}

.inbox_item_header {
  padding: 4px;
  margin-top: 4px;
}
.inbox_item_body {
  padding: 4px;
  margin-left: 8px;
}
span.date {
  font-size: small;
  padding-right: 2px;
}
span.time {
  font-size: small;
  padding-right: 2px;
}
span.subject {
  font-weight: bold;
  padding-left: 4px;
}
