body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

form.main {
  padding: 11px;
}
form.main input, form.main button, form.main select {
  margin: 11px;
}
.error {
  color: white;
  background-color: red;
}
.log {
  color: black;
  background-color: yellow;
}
#login_container {
  display: inline;
}

.inbox_item_header {
  padding: 4px;
  margin-top: 4px;
}
.inbox_item_body {
  padding: 4px;
  margin-left: 8px;
}
span.date {
  font-size: small;
  padding-right: 2px;
}
span.time {
  font-size: small;
  padding-right: 2px;
}
span.subject {
  font-weight: bold;
  padding-left: 4px;
}
