body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

form.main {
  padding: 11px;
}
form.main input, form.main button, form.main select {
  margin: 11px;
}
.error {
  color: white;
  background-color: red;
}
.log {
  color: black;
  background-color: yellow;
}
#login_container {
  display: inline;
}

/* Inbox */
.inbox_item_header {
  padding: 4px;
  margin-top: 4px;
}
.inbox_item_body {
  padding: 4px;
  margin-left: 8px;
}
span.date {
  font-size: small;
  padding-right: 2px;
}
span.time {
  font-size: small;
  padding-right: 2px;
}
span.subject {
  font-weight: bold;
  padding-left: 4px;
}

/* Traces */
.request {
  background-color: #f0ffff;
  margin-left: 5px;
}
.reply {
  background-color: #fffff0;
  margin-left: 50px;
}
.ip {
  font-weight: bold;
  color: red;
}
.call-id, .line {
  font-size: 9px;
  font-family: monospace;
}
.from, .to {
  color: #030;
}
