#menu_container {
  display: block;
  height:30px;
}
label {
  display: block;
  padding: 11px;
}
label>span {
  width: 200px;
  float: left;
}
input,select {
  display: inline-block;
  border: thin solid;
}
