{
  "databases_couchdb_uri":"http://user:pass@127.0.0.1:5984/_users",
  "databases":{
    "provisioning":{
      "couchapp":"../../provisioning/couchapp/user.js",
      "db_uri":"http://replicator:password@127.0.0.1:5984/provisioning"
    },
    "billing":{
      "couchapp":"../../billing/couchapp/user.js",
      "db_uri":"http://replicator:password@127.0.0.1:5984/billing"
    }
  },
  "base_cdb_uri":"http://admin:pass@127.0.0.1:5984/",
  "replication_couchdb_uri":"http://user:pass@127.0.0.1:5984/replication"
}
