#!/bin/sh -e

NAME=ccnq3
ETCDIR=/etc/$NAME
URI_FILE="$ETCDIR/admin_uri"

[ -e "$URI_FILE" ] && exit 0
[ -e "$ETCDIR/host.json" ] && exit 0

# Source debconf library.
. /usr/share/debconf/confmodule

# Ask for URI
db_input medium ccnq3/admin_uri
db_go

# Get the value (it is required) and save it
db_get ccnq3/admin_uri
echo "$RET" > $URI_FILE
