Source: ccnq3
Maintainer: Stephane Alnet (Packaging) <stephane@shimaore.net>

Package: ccnq3
Architecture: all
Depends:
  findutils, adduser, passwd,
  curl, psmisc,
  daemon, bash, openssl,
  nodejs-shimaore, build-essential, python
Recommends: monit, munin-node, ntp, ntpdate
Description: ccnq3 -- a SIP SoftSwitch for ISPs
  This package install the base ccnq3 code in /opt/ccnq3/src
  .
  To build a working system you need to install one of
  ccnq3-manager or ccnq3-client, and additionally install
  ccnq3-voice on call-handling systems.

Package: ccnq3-manager
Architecture: all
Depends:
  ccnq3 (= ${binary:Version}),
  ccnq3-couchdb (= ${binary:Version}),
  ccnq3-rabbitmq-server (= ${binary:Version})
Conflicts: ccnq3-client, ccnq3-manager-shared
Description: Bootstrap the ccnq3 system in manager mode.
  This package installs the ccnq3 system in manager mode by
  overwriting the local system's CouchDB configugration.
  .
  Do NOT install this package if the CouchDB or the RabbitMQ
  servers must be shared with other applications besides ccnq3.
  Use the ccnq3-manager-shared package in that case.

Package: ccnq3-couchdb
Architecture: all
Depends:
  ccnq3 (= ${binary:Version}),
  couchdb (>= 1.4.0)
Recommends: ccnq3-munin-couchdb
Description: Installs CouchDB for CCNQ3
  This package will configure CouchDB for a CCNQ3 manager server,
  but will not set up the CCNQ3 applications.

Package: ccnq3-rabbitmq-server
Architecture: all
Depends:
  ccnq3 (= ${binary:Version}),
  rabbitmq-server
Description: Installs RabbitMQ for CCNQ3
  This package will configure RabbitMQ for a CCNQ3 manager server,
  but will not set up the CCNQ3 applications.

Package: ccnq3-client
Architecture: all
Depends:
  ccnq3 (= ${binary:Version}),
  couchdb (>= 1.4.0)
Conflicts: ccnq3-manager, ccnq3-manager-shared
Description: Bootstrap the ccnq3 system in non-manager mode.
  This package installs the ccnq3 system in non-manager mode by
  overwriting the local system's CouchDB configugration.
  .
  This package will overwrite your existing CouchDB configuration
  and is not compatible with other packages or applications using
  CouchDB.

Package: ccnq3-manager-shared
Architecture: all
Depends: ccnq3 (= ${binary:Version})
Conflicts: ccnq3-manager, ccnq3-client
Description: Bootstrap the ccnq3 system in manager mode.
  This package installs the ccnq3 system in manager mode while
  allowing other applications to use CouchDB or RabbitMQ at the same time.
  .
  You will need admin access to the CouchDB database and the RabbitMQ server.

Package: ccnq3-traces
Architecture: all
Depends:
  ccnq3 (= ${binary:Version}),
  tshark (>=1.2),
  procps, gzip
Recommends: ccnq3-munin-traces
Description: Installs the SIP traces in /opt/ccnq3/traces

Package: ccnq3-dns
Architecture: all
Depends: ccnq3 (= ${binary:Version}), iptables
Conflicts: bind, bind9
Description: Allows the ccnq3_dns service to be available on port 53
  Install this package on a host that will be running ccnq3_dns,
  so that a redirection from port 53 to port 53053 is provided automatically.
  .
  Alternatively you may choose to implement your own iptables rules (or provide
  a different forwarding solution), for example because you want to run both
  inbound_enum and a caching DNS server (such as bind9) on a server; in that
  case you should not install this package. The ccnq3_dns service will
  still start (on port 53053), since it is part of the ccnq3 package.

Package: ccnq3-voice
Architecture: all
Depends: ccnq3-traces (= ${binary:Version}),
  ccnq3-opensips (= ${binary:Version}),
  ccnq3-freeswitch (= ${binary:Version}),
  ccnq3-mediaproxy-relay (= ${binary:Version}),
  ccnq3-munin-traces (= ${binary:Version}),
  ccnq3-munin-opensips (= ${binary:Version}),
  ccnq3-munin-freeswitch (= ${binary:Version})
Conflicts: ccnq3-voice-freeswitch, ccnq3-voice-opensips
Description: Meta-package for a ccnq3 system running voice traffic
  Install this meta-package on any host that will be running voice traffic
  inside a ccnq3 system.
  .
  You should install one of ccnq3-voice (both OpenSIPS and FreeSwitch),
  ccnq3-voice-freeswitch (only FreeSwitch), or ccnq3-voice-opensips
  (only OpenSIPS).

Package: ccnq3-voice-freeswitch
Architecture: all
Depends: ccnq3-traces (= ${binary:Version}),
  ccnq3-freeswitch (= ${binary:Version}),
  ccnq3-munin-traces (= ${binary:Version}),
  ccnq3-munin-freeswitch (= ${binary:Version})
Conflicts: ccnq3-voice, ccnq3-voice-opensips
Description: Meta-package for a ccnq3 system running only FreeSwitch
  Install this meta-package on any host that will be running FreeSwitch
  (but not OpenSIPS) inside a ccnq3 system.
  .
  You should install one of ccnq3-voice (both OpenSIPS and FreeSwitch),
  ccnq3-voice-freeswitch (only FreeSwitch), or ccnq3-voice-opensips
  (only OpenSIPS).

Package: ccnq3-voice-opensips
Architecture: all
Depends: ccnq3-traces (= ${binary:Version}),
  ccnq3-opensips (= ${binary:Version}),
  ccnq3-mediaproxy-relay (= ${binary:Version}),
  ccnq3-munin-traces (= ${binary:Version}),
  ccnq3-munin-opensips (= ${binary:Version})
Conflicts: ccnq3-voice, ccnq3-voice-freeswitch
Description: Meta-package for a ccnq3 system running only OpenSIPS
  Install this meta-package on any host that will be running OpenSIPS
  (but not FreeSwitch) inside a ccnq3 system.
  .
  You should install one of ccnq3-voice (both OpenSIPS and FreeSwitch),
  ccnq3-voice-freeswitch (only FreeSwitch), or ccnq3-voice-opensips
  (only OpenSIPS).

Package: ccnq3-opensips
Architecture: all
Depends: ccnq3 (= ${binary:Version}),
  opensips (=1.8.2-2), opensips-dbhttp-module, opensips-json-module, opensips-b2bua-module,
  opensips-rabbitmq-module, opensips-http-modules, opensips-redis-module,
  netcat,
  mediaproxy-dispatcher (>= 2.5.2-20120112),
  libjson0 (=0.10-1.2)
Recommends: ccnq3-munin-opensips
Description: OpenSIPS dependencies for CCNQ3

Package: ccnq3-freeswitch
Architecture: all
Depends: ccnq3 (= ${binary:Version}),
  freeswitch (= ${freeswitch:Version}),
  freeswitch-sysvinit (= ${freeswitch:Version}),
  freeswitch-mod-console (= ${freeswitch:Version}),
  freeswitch-mod-event-socket (= ${freeswitch:Version}),
  freeswitch-mod-sofia (= ${freeswitch:Version}),
  freeswitch-mod-loopback (= ${freeswitch:Version}),
  freeswitch-mod-commands (= ${freeswitch:Version}),
  freeswitch-mod-db (= ${freeswitch:Version}),
  freeswitch-mod-hash (= ${freeswitch:Version}),
  freeswitch-mod-dptools (= ${freeswitch:Version}),
  freeswitch-mod-enum (= ${freeswitch:Version}),
  freeswitch-mod-dialplan-xml (= ${freeswitch:Version}),
  freeswitch-mod-spandsp (= ${freeswitch:Version}),
  freeswitch-mod-sndfile (= ${freeswitch:Version}),
  freeswitch-mod-native-file (= ${freeswitch:Version}),
  freeswitch-mod-tone-stream (= ${freeswitch:Version}),
  freeswitch-mod-json-cdr (= ${freeswitch:Version})
Recommends: ccnq3-munin-freeswitch
Description: FreeSwitch dependencies for CCNQ3

Package: ccnq3-mediaproxy-relay
Architecture: all
Depends: ccnq3 (= ${binary:Version}),
  mediaproxy-relay (>= 2.5.2-20120112), conntrack
Description: mediaproxy-relay dependencies for CCNQ3
  Note that this depends on a mediaproxy version that can only handle local
  mediaproxy-dispatcher.

Package: ccnq3-munin-traces
Architecture: all
Depends: munin-node, ccnq3-traces (= ${binary:Version}),
  bash, perl, findutils, ngrep, libdatetime-perl
Description: munin modules for ccnq3-traces
  Provides dumpcap_reasons and dumpcap_reasons_abs munin plugins.

Package: ccnq3-munin-opensips
Architecture: all
Depends: munin-node, ccnq3-opensips (= ${binary:Version}),
  bash
Description: munin modules for ccnq3-opensips
  Provides the opensips_dialogs munin plugin.

Package: ccnq3-munin-freeswitch
Architecture: all
Depends: munin-node, ccnq3-freeswitch (= ${binary:Version}),
  bash, awk
Description: munin modules for ccnq3-freeswitch
  Provides the freeswitch_channels munin plugin.

Package: ccnq3-munin-couchdb
Architecture: all
Depends: munin-node, ccnq3-client (= ${binary:Version})
Description: munin modules for CouchDB in ccnq3-client
  Provides the couchdb munin plugin.
