Source: ccnq3
Maintainer: Stephane Alnet (Packaging) <stephane@shimaore.net>

Package: ccnq3
Architecture: all
Depends:
  findutils, adduser, passwd,
  curl,
  daemon, bash, openssl,
  nodejs (>=0.6.6), build-essential, python
  couchdb (=1.2.0-4)
Recommends: monit, munin-node
Suggests: ccnq-base (= ${binary:Version})
Description: Installs the ccnq3 code in /opt/ccnq3/src

Package: ccnq3-manager
Architecture: all
Depends: ccnq3
Conflicts: ccnq3-client, ccnq3-manager-shared
Description: Bootstrap the ccnq3 system in manager mode.
  This package installs the ccnq3 system in manager mode by
  overwriting the local system's CouchDB configugration.
  .
  Do NOT install this package if the CouchDB database is
  shared with other applications besides ccnq3. Use the
  ccnq3-manager-shared package in that case.

Package: ccnq3-client
Architecture: all
Depends: ccnq3
Conflicts: ccnq3-manager, ccnq3-manager-shared
Description: Bootstrap the ccnq3 system in non-manager mode.
  This package installs the ccnq3 system in non-manager mode by
  overwriting the local system's CouchDB configugration.
  .
  This package will overwrite your existing CouchDB configuration
  and is not compatible with other packages or applications using
  CouchDB.

Package: ccnq3-manager-shared
Architecture: all
Depends: ccnq3
Conflicts: ccnq3-manager, ccnq3-client
Description: Bootstrap the ccnq3 system in manager mode.
  This package installs the ccnq3 system in manager mode while
  allowing other applications to use CouchDB at the same time.
  .
  You will need admin access to the CouchDB database.

Package: ccnq3-traces
Architecture: all
Depends:
  ccnq3 (= ${binary:Version}),
  tshark (>=1.2), ngrep (>=1.45),
  findutils,
  procps, gzip
Recommends: ccnq3-munin-traces
Description: Installs the SIP traces in /opt/ccnq3/traces

Package: ccnq-base
Architecture: all
Depends:
  git-core, etckeeper,
  ntp, monit, watchdog, nullmailer,
  psmisc, dnsutils, netcat, netcat6, mtr-tiny, tshark, ngrep,
  less, bash-completion, bzip2, curl, rsync
Description: Tools and Best Practices the maintainer finds useful

Package: ccnq3-dns
Architecture: all
Depends: ccnq3 (= ${binary:Version}), iptables
Conflicts: bind, bind9
Description: Allows the ccnq3_dns service to be available on port 53
  Install this package on a host that will be running ccnq3_dns,
  so that a redirection from port 53 to port 53053 is provided automatically.
  .
  Alternatively you may choose to implement your own iptables rules (or provide
  a different forwarding solution), for example because you want to run both
  inbound_enum and a caching DNS server (such as bind9) on a server; in that
  case you should not install this package. The ccnq3_dns service will
  still start, since it is part of the ccnq3 package.

Package: ccnq3-voice
Architecture: all
Depends: ccnq3-traces (= ${binary:Version}),
  ccnq3-opensips (= ${binary:Version}),
  ccnq3-freeswitch (= ${binary:Version}),
  ccnq3-mediaproxy-relay (= ${binary:Version}),
  ccnq3-munin-traces (= ${binary:Version}),
  ccnq3-munin-opensips (= ${binary:Version}),
  ccnq3-munin-freeswitch (= ${binary:Version})
Description: Dependencies for a server running voice traffic
  Install this package on any host that will be running voice traffic
  inside a ccnq3 system.

Package: ccnq3-opensips
Architecture: all
Depends: ccnq3 (= ${binary:Version}),
  opensips (=1.7.2-1), opensips-dbhttp-module, opensips-json-module,
  netcat,
  mediaproxy-dispatcher (>= 2.5.2-20120112)
Recommends: ccnq3-munin-opensips
Description: Dependencies for a server running OpenSIPS in CCNQ3

Package: ccnq3-freeswitch
Architecture: all
Depends: ccnq3 (= ${binary:Version}),
  freeswitch (>=1.0.head~git.master.20120103)
Recommends: ccnq3-munin-freeswitch
Description: Dependencies for a server running FreeSwitch in CCNQ3

Package: ccnq3-mediaproxy-relay
Architecture: all
Depends: ccnq3 (= ${binary:Version}),
  mediaproxy-relay (>= 2.5.2-20120112), conntrack
Description: Dependencies for a server running mediaproxy-relay in CCNQ3
  Note that this depends on a mediaproxy version that can only handle local
  mediaproxy-dispatcher.

Package: ccnq3-munin-traces
Architecture: all
Depends: munin-node, ccnq3-traces (= ${binary:Version}),
  bash, perl, findutils, ngrep, libdatetime-perl
Description: munin modules for ccnq3-traces
  Provides dumpcap_reasons and dumpcap_reasons_abs munin plugins.

Package: ccnq3-munin-opensips
Architecture: all
Depends: munin-node, ccnq3-opensips (= ${binary:Version}),
  bash
Description: munin modules for ccnq3-opensips
  Provides the opensips_dialogs munin plugin.

Package: ccnq3-munin-freeswitch
Architecture: all
Depends: munin-node, ccnq3-freeswitch (= ${binary:Version}),
  bash, sqlite3
Description: munin modules for ccnq3-freeswitch
  Provides the freeswitch_channels munin plugin.
