#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_gencontrol:
	dh_gencontrol -- \
		-Vfreeswitch:Version="1.3.4-20130930T160940Z-git8efc1d0~shimaore-master" \
		-Vopensips:Version="1.10.0-3"

override_dh_installinit:
	dh_installinit -R
