#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_gencontrol:
	dh_gencontrol -- -Vfreeswitch:Version="1.2.4+git~20130217T182427Z~a4247651ca"

override_dh_installinit:
	dh_installinit -R

override_dh_auto_build:
	npm config set dev false
	npm config set production true
	find . -name package.json -print0 | xargs -0 sh -c 'cd "$@" && npm install' npm-install
