#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_gencontrol:
	dh_gencontrol -- \
		-Vfreeswitch:Version="1.2.15~shimaore-3" \
		-Vmediaproxy:Version="2.5.2-5~shimaore" \
		-Vnodejs:Version="0.10.23~shimaore1-1"

override_dh_installinit:
	dh_installinit -R
