# invite-registrar.cfg -- INVITE handler for a standalone registrar
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

define need_avp_db

route[invite-handler]
{
  if(lookup("location")) {
    t_reply("302","User found");
    exit;
  }

  switch ($retcode) {
    # No contact found
    case -1:
    # Contact found, method not supported.
    case -2:
    # Internal error
    case -3:
      if( $(avp(cfnr)) ) {
        $ru = $(avp(cfnr));
        t_reply("302","Call forward not registered");
        exit;
      }

      if( $json(dst_endpoint/user_srv) ) {
        $ru = "sip:" + $var(a) + "@" + $json(dst_endpoint/user_srv);
        $rp = ""; # Clear port
        t_reply("302","User SRV");
        exit;
      }

      if( $json(dst_endpoint/user_ip) ) {
        $ru = "sip:" + $var(a) + "@" + $json(dst_endpoint/user_ip);
        if( $json(dst_endpoint/user_port) ) {
          $ru = "sip:" + $var(a) + "@" + $json(dst_endpoint/user_ip) + ":" + $json(dst_endpoint/user_port);
        }
        t_reply("302","User IP");
        exit;
      }

      t_reply("404", "Not Found");
      exit;
      break;
  };
}
