# invite-emergency.cfg -- INVITE handler for an emergency call router.
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

route[invite-handler]
{
  $var(emergency_key) = '';
  if( is_present_hf("X-CCNQ3-Routing") ) {
    $var(emergency_key) = $rU + '#' + $hdr("X-CCNQ3-Routing");
  } else {
    $var(emergency_key) = $rU;
  }

  if(avp_db_load("$var(emergency_key)","$avp(emergency)")) {
    $json(emergency) := $avp(emergency);
    $avp(emergency) := null;
    append_to_reply("Contact: sip:$json(emergency/destination)@$json(src_endpoint/emergency_domain)\r\n");
    t_reply("302","Found");
  } else {
    append_to_reply("X-CCNQ3-Emergency-Key: $var(emergency_key)\r\n");
    sl_send_reply("404","Not found");
  }
}
