# invite-router.cfg -- INVITE handler for a generic router
# Copyright (C) 2011  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

route[invite-handler]
{
  xlog("L_DBG","DEBUG -- route(invite-handler) $ru -- INVITE Message Handler");

  t_on_failure("1");
  t_on_reply("1");

  xlog("L_DBG","DEBUG -- route(invite-handler): From ip: $si - From URI: $fu");

  $ru = "sip:"+$rU+"@${local_ipv4}:${local_port}";

  route(update-media-proxy);
  route(initial-forwarder);
  exit;
}
