# invite.modules -- modules and configuration shared by all forwarding INVITE modules
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

#
# This code is only used by recipes where we forward the INVITE.
# If the INVITE is terminated locally (e.g. with a 302/404 pair)
# then there is no need to use this code in a recipe.
#

onreply_route[1]
{
  xlog("L_DBG","-- onreply_route(1) -- $si -- $mb");

  # In-progress flag
  if( t_check_status("[12][0-9][0-9]") ) {
      setbflag(${bflag_in_progress});
  }

  # SDP mangling: Linksys SPA2102 improper SDP
  replace_body_all("a=rtpmap:18 G729a/8000", "a=rtpmap:18 G729/8000");

  route(media-proxy-reply-handler); # MP on-reply
  ${onreply_nat}
}

# -----------------------------------------------------------------
# Failure route
# -----------------------------------------------------------------

failure_route[1]
{
  xlog("L_DBG","-- failure_route(1) -- $rm $ru");

  if(!is_method("INVITE")) {
    return;
  }

  # For fax negotiation 488 might be a normal outcome.
  if(!t_check_status("488")) {
    route(stop-media-proxy); # End media session
  }

  if(t_was_cancelled() || t_check_status("504")) {
    xlog("L_DBG","-- failure_route[1]: conversation was canceled.");
    return;
  }

  # Handle redirects
  if( t_check_status("302") ) {
    get_redirects("6:2","Redirected"); # max_total:max_branch, reason
    serialize_branches(1);
    route(forwarder);
    exit;
  }

  if not skip_uac_auth
    if($avp(uac_realm)) {
      # Check whether we were supposed to authenticate (uac_auth)
      if( t_check_status("40[17]") ) {
        # Already attempted.
        # Note: this breaks if we failover (e.g. SRV or multiple DNS As)
        if(isbflagset(${bflag_auth_attempted})) {
          xlog("L_DBG","-- failure_route(1): uac_auth already attempted.");
          t_reply("503","Authentication failed");
          exit;
        }

        xlog("L_DBG","-- failure_route(1): Attempting uac_auth.");
        if(uac_auth()) {
          setbflag(${bflag_auth_attempted});
          t_on_failure("1");
          route(forwarder);
          exit;
        }

        xlog("L_ERR","ERROR -- failure_route(1): uac_auth() failed on $rm $ru");
        exit;
      }
    }

    resetbflag(${bflag_auth_attempted});
  end if not skip_uac_auth

  # Trunk-side processing
  if( isflagset(${flag_trunk_routing}) ) {

    # Don't failover on busy, loop detected, incomplete address, or not found
    # Note: 480 used to be here but since it is used as catch-all by FS it is better to progress on it.
    if( t_check_status("48[67241]|40[34]|60[0-9]") ) {
      xlog("L_DBG","-- failure_route(1): trunk: no progress on busy, loop, incomplete, forbidden, not found");
      return;
    }

    # Ring no Answer
    if( isbflagset(${bflag_in_progress}) && t_check_status("408") ) {
      xlog("L_DBG","-- failure_route(1): trunk: no answer");
      t_reply("486","No Answer");
      return;
    }

  }

  # Process failure cases
  if (next_branches()) {
    t_on_failure("1");
    route(forwarder);
    exit;
  }

  if use_drouting
    if (next_routing()) {
      t_on_failure("1");
      route(trunk-attributes);
      route(update-media-proxy);
      route(forwarder);
      exit;
    }
  end if use_drouting

  if not skip_lineside
    # Line-side processing

    # On 486 Busy Here use CFB
    if( t_check_status("486") ) {
      xlog("L_DBG","-- Attempting CFB");
      if( $(avp(cfb)) && !isbflagset(${bflag_cfb_used}) ) {
        xlog("L_DBG","-- failure_route(1): Applying CFB");
        setbflag(${bflag_cfb_used}); # CFB already used

        # Replace the Request-URI with the CFB target
        $ru = $(avp(cfb));
        serialize_branches(1);
        t_on_failure("1");
        # CFB may contain ";mp=yes"
        ${media_proxy_in_ruri}
        route(update-media-proxy);   # Start MP if needed
        route(forwarder);
        exit;
      }

      # No CFB, forward along
      t_reply("486","Busy Here");
      return;
    }

    xlog("L_DBG","-- Attempting CFDA");
    if( $(avp(cfda)) && !isbflagset(${bflag_cfda_used}) ) {
      xlog("L_DBG","-- failure_route(1): Applying CFDA");
      setbflag(${bflag_cfda_used}); # CFDA already used

      # Replace the Request-URI with the CFDA target
      $ru = $(avp(cfda));
      serialize_branches(1);
      t_on_failure("1");
      # CFDA may contain ";mp=yes"
      ${media_proxy_in_ruri}
      route(update-media-proxy);   # Start MP if needed
      route(forwarder);
      exit;
    }
  end if not skip_lineside

  # No alternate found.
}
