# loose-route.cfg -- handler for loose-routed messages
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# -----------------------------------------------------------------
# Loose Route Section
# -----------------------------------------------------------------

macro loose_route_handler
  xlog("L_DBG","DEBUG -- loose-route-handler: loose_route $rm From: $fu To: $tu RURI: $ru");

  if((is_method("INVITE") || is_method("REFER")) && !has_totag()) {
    sl_send_reply("403", "Forbidden");
    exit;
  };

  sl_send_reply("100", "Trying");

  if(is_method("INVITE")) {
    t_on_reply("2");
  }

  route(lr-nat);

  ## On re-INVITE via ocs-sbc we do not get the proper fields.
  ## Disabling for now until I figure out how to do this properly.
  # if(is_method("INVITE")) {
  #  route(authenticate);
  # }

  ${start_accounting}

  if(is_method("BYE") || is_method("CANCEL")) {
    route(stop-media-proxy); # End media session
  }

  if(is_method("ACK") || is_method("CANCEL") || is_method("PRACK")) {
    route(forwarder-progress); # Route ACK/PRACK/CANCEL
    return;
  }

  route(forwarder);
  return;
end macro loose_route_handler


onreply_route[2]
{
  xlog("L_DBG","DEBUG -- onreply_route(1) Received from $si with flags $mf: $mb");
  xlog("L_DBG","DEBUG -- onreply_route(1) $rs $rr");

  # SDP mangling: Linksys SPA2102 improper SDP
  replace_body_all("a=rtpmap:18 G729a/8000", "a=rtpmap:18 G729/8000");

  route(media-proxy-reply-handler); # MP on-reply
  ${onreply_nat}
}

