# non-loose-route.cfg -- handler for out-of-dialog (non loose-routed) messages
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# -----------------------------------------------------------------
# Out-of-Dialog messages
# -----------------------------------------------------------------

# With local URI

macro non_loose_route_handler
    xlog("L_DBG","DEBUG -- non_loose_route_handler: Out-of-dialog: $rm $ru (Call-ID $ci)");

    sl_send_reply("100", "Trying");

    if(is_method("REGISTER")) {
      route(register-record-route);
    } else {
      # Make sure we stay in the path.
      record_route();
    }


    if(is_method("REGISTER")) {
      route(register-handler);   # REGISTER message handler
      exit;
    }

    ## --- NAT

    route(nlr-nat);

    ## --- Media

    if(is_method("BYE") || is_method("CANCEL")) {
      route(stop-media-proxy); # End media session
    }

    ## -- Authenticate, methods

    if(is_method("OPTIONS") || is_method("REFER")) {
      sl_send_reply("405","Method not allowed");
      exit;
    }

    # Apparently authenticating SUBSCRIBE and NOTIFY isn't very popular.
    if(is_method("SUBSCRIBE")) {
      sl_send_reply("500", "Not implemented yet");
      exit;
      # route(forwarder);
      # exit;
    }

    if(is_method("NOTIFY")) {
      sl_send_reply("500", "Not implemented yet");
      exit;
      # lookup("location");
      # route(forwarder);
      # exit;
    }

    # All the following ones are in accounting.

    if(is_method("INVITE")) {
      route(authenticate);

      ${start_accounting}

      setflag(19); # dlg_flag
      create_dialog();
      route(invite-handler);   # INVITE message handler
      exit;
    }

    if(is_method("ACK")) {
      ${start_accounting}

      route(forwarder-progress);   # Route ACK & CANCEL
      exit;
    }

    if(is_method("CANCEL")||is_method("PRACK")) {
      ${start_accounting}

      route(forwarder-progress);   # Route ACK/PRACK/CANCEL
      exit;
    }

    if(is_method("BYE")) {
      ${start_accounting}

      route(forwarder);   # Route
      exit;
    }

    xlog("L_DBG","DBG -- non_loose_route_handler: Unsupported method $rm");
    sl_send_reply("501","Not implemented");
end macro non_loose_route_handler

# With non-local URI

macro non_local_uri_handler
    xlog("L_DBG","DEBUG -- non_local_uri_handler: Non-local RURI $ru");

    xlog("L_DBG","DEBUG -- non_local_uri_handler: Relaying forbidden");
    sl_send_reply("403", "Relaying Forbidden");
end macro non_local_uri_handler
