# register-ignore.cfg -- REGISTER handler when REGISTER are not handled
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# This is for a proxy that routes calls but does not support registration.

macro lookup
  route(static-line-side);
end macro lookup

route[register-handler]
{
  # Some devices (e.g. some Astra devices) require a successful
  # REGISTER even if they are told not to register.
  xlog("L_DBG","-- register-ignore -- Sending 200 OK");
  t_reply("200", "OK");
  exit;
}
