# register-registrar.cfg -- REGISTER handler for a standalone registrar
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# -----------------------------------------------------------------
# REGISTER Message Handler: Registrar for a remote router
# -----------------------------------------------------------------

# Registrar for a remote router

route[register-handler]
{
  # Message comes from another registrar
  # For a registrar, the trusted table should list other registrars in the cluster.
  if( if has_trusted allow_trusted() || end if has_trusted 0 ) {
    xlog("L_DBG", "-- route(register-handler): Forwarded REGISTER");
  } else {
    # If not coming from another registrar in the cluster, authenticate
    route(authenticate_register);
    if (!check_to()) {
      xlog("L_WARN", "WARNING -- route(register-handler): Rogue device $si ($fu) attempts to register");
      sl_send_reply("401", "Unauthorized");
      exit;
    };
    setflag(${flag_register_authenticated});
  }

  # Get the information from the router
  setflag(${flag_sock}); # sock_flag
  # XXX TODO Set the local flags, etc. from the headers

  if has_usrloc
  # Save the information
  if( !save("location") ) {
    xlog("L_ERR", "ERROR -- route(register-handler): could not save location $si ($fu).");
    sl_send_reply("500", "Could not save location");
    exit;
  }
  end if has_usrloc

  # If not coming from another registrar in the cluster, forward to the other registrars in the cluster
  if(isflagset(${flag_register_authenticated})) {
    t_replicate(...)
    append_branch();
    t_on_failure...
  }
}
