# routing-trunkside-transparent.cfg -- routing toward trunkside for transparent router
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Routing trunk-side with no number rewriting
route[try-trunk-side]
{
  # Now routing towards trunk-side.
  xlog("L_DBG","DEBUG -- try-trunk-side -- Now routing towards trunk-side");

  # We do not allow trunk-to-trunk calls.
  if( $(avp(src_type)) == "PSTN" ) {
      xlog("L_INFO","INFO -- try-trunk-side -- Trunk-to-trunk calls are not allowed.");
      # Failure (was 403)
      sl_send_reply("404", "Trunk-to-trunk calls are not allowed");
      exit;
  }

  # Classification

  # Authorization

  # Routing
  # At this point the call is authorized.
  route(invite-trunk-drouting);
}