# toolbox.cfg -- misc routines
# Copyright (C) 2009  Stephane Alnet
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

define need_avp_db

macro initialize

  if(avp_db_load("$si","$avp(endpoint)")) {
    $json(src_endpoint) := $avp(endpoint);
  } else {
    $json(src_endpoint) = NULL;
  }

  if( $json(src_endpoint/disabled) ) {
    t_reply("503", "Disabled");
    exit;
  }

  xlog("L_DBG","-- Received from $si with flags $mf: $mb");

  # -----------------------------------------------------------------
  # Sanity Check Section
  # -----------------------------------------------------------------
  if (!mf_process_maxfwd_header("${max_hops}")) {
    xlog("L_DBG","-- Too Many Hops: $rm From: $fu To: $tu");
    if( !is_method("ACK") ) {
      sl_send_reply("483", "Too Many Hops");
    };
    exit;
  };

  if (msg:len > max_len) {
    xlog("L_DBG","INFO -- Message Overflow: $rm From: $fu To: $tu");
    if( !is_method("ACK") ) {
      sl_send_reply("513", "Message Overflow");
    };
    exit;
  };

end macro initialize
