{
  "portal": {
    "port": 8765,
    "hostname": "127.0.0.1"
  },
  "confirm": {
    "users_couchdb_uri": "http://admin:password@127.0.0.1:5984/_users",
    "post_confirmation_uri": "/"
  },
  "login": {
    "session_couchdb_uri": "http://127.0.0.1:5984/_session"
  },
  "profile": {
    "users_couchdb_uri": "http://admin:password@127.0.0.1:5984/_users"
  },
  "register": {
    "users_couchdb_uri": "http://register%40fqdn:password@127.0.0.1:5984/_users"
  },
  "changes": {
    "base_couchdb_uri": "http://127.0.0.1:5984/"
  },
  "mail_confirmation": {
    "users_couchdb_uri":"http://admin:password@127.0.0.1:5984/_users",
    "sender_local_part": "support",
    "mailer": {
      "sendmail": "/usr/sbin/sendmail"
    }
  },
  "mail_password": {
    "users_couchdb_uri":"http://admin:password@127.0.0.1:5984/_users",
    "sender_local_part": "support",
    "mailer": {
      "sendmail": "/usr/sbin/sendmail"
    }
  }
}
