{
  "users_couchdb_uri":"http://admin:password@127.0.0.1:5984/_users",
  "filter_name": "confirmed",

  "ccnq2_login_uri":"https://sotelips.net/portal/login",
  "ccnq2_admin_username":"username",
  "ccnq2_admin_password":"password",
  "ccnq2_register_uri":"https://sotelips.net/portal/user_profile/"
}
