<p>Someone (probably you) registered with our service at #{p.domain}.</p>
<p>To confirm your email address, please go to:
<a href="http://{{domain}}/register/confirm.html">http://{{domain}}/register/confirm.html</a>
then copy and paste the following confirmation code:
<quote>{{confirmation_code}}</quote></p>

Thank you, and welcome to our exciting new service!
